.container{
    width: 90%;
    height: 88vh;
    position: relative;
    top: 4%;
    background-color: white;
    border-radius: 12px;
}
.newsItem> img{
height: 50vh;
width: 100%;
margin: 0px;
border-radius: 12px 12px 0px 0px;
}
.newsItem> p{
    position: relative;
    height: 34vh;
    width: 100%;
    top: 20px;
    right: 10px;
    left: 10px;
    overflow-y: scroll;
    overflow-x: hidden; 
 }
 .date{
    position: absolute;
    width: 100%;
   
    top: 42%;
    letter-spacing: 1px;
    color: aliceblue;
    padding: 10px;
    text-align: start;
    background-color: rgba(0, 0, 0, 0.6);
 }
 .date>p{
    font-size: 20px;
    
 }